kagglehub
pandas
boto3
langchain
langgraph
langchain_aws
langchain-google-genai
langchain-huggingface
sentence-transformers
qdrant-client
langchain-qdrant
langchain-community
rank_bm25
sentence_transformers
dotenv